.main{
    background-image: url(data/BG.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    min-height: 100vh; 
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.text{
    font-size: 2em;
    color: white;
    font-style: italic;
    font-weight: bold;
}

footer {
    background-color: #16161d;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

.listajefes {
    background-color: rgba(46, 30, 118,0.2);
    width: 205px;
    padding: 5px;
    margin: 10px;

}

/*test para comprobar separaciones el css va a cambiar*/
/*background-color: rgba(46, 30, 118,0.4);*/
.test {
    margin: 10px;
    max-height: 90%;
    color: white;
}	

.compJefes{
    display: grid;
    grid-template-rows: (3,1);
    background-color:  rgba(22,22,29,0.8);
    width: 75%;
    height: 100%;
}

.topComp{
    display: flex;
    flex-direction: row;
}


.imageJefes{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
}	


.dataJefes{  
    height: auto;
}	
.dataJefes p{
    padding-bottom: 30px;
    
}	