.main{
    background-image: url(data/BG.png);
    background-repeat: repeat; 
    background-position: center; 
    background-size: cover;
    height: 1080px;
    width: 100%;
    padding: 10px;
}
.text{
    font-size: 2em;
    color: white;
    font-style: italic;
    font-weight: bold;
}