.main{
    background-image: url(../public/data/BG.png);
    background-repeat: no-repeat;
    background-position: center; 
    background-size: cover; 
    min-height: 100vh; 
    width: 100%; 
    padding: 10px;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.text{
    font-size: 2em;
    color: white;
    font-style: italic;
    font-weight: bold;
}

footer {
    background-color: #16161d;
    color: white;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
  }

.listajefes {
    background-color: rgba(46, 30, 118,0.2);
    width: 205px;
    padding: 5px;
    margin: 10px;
}

.listaEventos {
    background-color: rgba(46, 30, 118,0.2);
    width: 205px;
    padding: 5px;
    margin: 10px;
}

/*test para comprobar separaciones el css va a cambiar*/
/*background-color: rgba(46, 30, 118,0.4);*/
.components {
    margin: 10px;
    max-height: 90%;
    color: white;
}	

.compJefes{
    display: flex;
    flex-direction: column;
    background-color:  rgba(22,22,29,0.8);
    width: 75%;
    height: 100%;
}

.topComp{
    flex: 2;
    display: flex;
}

.invocador{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.bioma{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.imgBioma{
    object-fit: contain;
    flex: 2;
    margin: 10%;
}
.dataBioma{
    flex: 1;
    margin: 10%;
}

.mid{
    flex: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imgInv{
    object-fit: contain;
    flex: 2;
    margin: 10%;
}
.dataInv{
    flex: 1;
    margin: 10%;
}

.imageJefes{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    aspect-ratio: 1/1;
    flex: 2;
}	


.dataJefes{  
    height: auto;
    flex: 1;
}	
.dataJefes p{
    padding-bottom: 15px;  
}	

.compEvent{
    display: grid;
    grid-template-rows: (3,1);
    background-color:  rgba(22,22,29,0.8);
    width: 75%;
    height: 100%;
}

.imageEvent{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25%;
    aspect-ratio: 1/1;
}

.clases{
    overflow-y: scroll;
    max-height: 100px;
}

.contMid{
    flex: 1.5;
    max-height: 20%;
}

.contInf{
    flex: 1;
}